/*
============================================
; Title: WEB	450	Bob’s	Computer	Repair	Shop
; Author: Ethan Townsend, Lea Trueworthy, Natasha Whitmer, and Jason Sullenger
; Date: 17 October 2019
; Description: End-to-end billing system for Bob's Computer - MEAN stack
;===========================================
*/
mat-card {
  margin-top: 100px;
  min-width: 25%;
  max-width: 50%;
  text-align: center;
  background-color: #c8e6c9;
  color: #1b5e20;
}

h6 {
  color: #f9a825;
}

.error {
  color: #f9a825;
}

mat-form-field {
  width: 90%;
}

mat-card-content {
  margin: 5px;
}

button {
  display: inline-block;
  min-width: 25%;
}
