.row{
    padding-top: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

mat-card {
text-align: center;
display: block;
line-height:22.5px;
width:89%;
float: left;
}

ul, li{
    list-style-type: none;    
}

li{
    color : #e7c661;

}