/*
============================================
; Title: WEB	450	Bob’s	Computer	Repair	Shop
; Author: Ethan Townsend, Lea Trueworthy, Natasha Whitmer, and Jason Sullenger
; Date: 17 October 2019
; Description: End-to-end billing system for Bob's Computer - MEAN stack
;===========================================
*/
.row {
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
}

mat-card {
  text-align: center;
  display: block;
  line-height: 22.5px;
  width: 92%;
  float: left;
  font-family: "Bungee", cursive;
  background-color: #c8e6c9;
  color: #1b5e20;
}

h6 {
  font-size: 20px;
}
