/*
============================================
; Title: WEB	450	Bob’s	Computer	Repair	Shop
; Author: Ethan Townsend, Lea Trueworthy, Natasha Whitmer, and Jason Sullenger
; Date: 17 October 2019
; Description: End-to-end billing system for Bob's Computer - MEAN stack
;===========================================
*/

mat-card{
    width: 95%;
    margin: auto;
    margin-top: 100px;
}

table{
    margin: auto;
    max-width: 95%;
    position: relative;
}

h2 {
    text-align: center;
}

input {
    margin: 0px;
    padding: 0px;
}
